{% extends "admin/base.html" %}

{% block title %}Admin Dashboard - Community Event Planner{% endblock %}
{% block content %}


<section id="banner" style="background-image:url(/static/images/background-img.jpg);">
    <div class="container padding-medium-2">
        <div class="hero-content ">
            <h2 class="display-2 fw-semibold">Edit Category</h2>
            <nav class="breadcrumb">
                <a class="breadcrumb-item text-muted nav-link" href="{{url_for('admin.home')}}">Home</a>
                
                <span class="breadcrumb-item active" aria-current="page">Category</span>
            </nav>
        </div>
    </div>
</section>
<section id="register">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 ">
          <img src="/static/images/bg1.jpeg" alt="img" class="img-fluid">
        </div>
        <div class="col-md-4 ">
          <div class="mb-5 mt-5 mt-lg-0">
            <h2 class="display-5 fw-semibold"> Create <span class="text-primary">New Category</span></h2>
            
          </div>
          <form id="form" action="{{ url_for('category.edit_category',id =category.id) }}" method="post">
            <label>Category Name</label>
            <input type="text" name="name" value="{{category.name}}" class="form-control w-100 mb-4">
            <button class="btn btn-primary px-5 py-3 mt-2" type="submit"> Submit</button>
          </form>

        </div>

      </div>
    </div>
  </section>

{% endblock %}